# Lesson3-6-Challenge-Data-Cleaning-and-Validation

### Data cleaning is definitely a "practice makes perfect" skill. Using this dataset of article open-access prices paid by the WELLCOME Trust between 2012 and 2013, determine the five most common journals and the total articles for each. Next, calculate the mean, median, and standard deviation of the open-access cost per article for each journal . You will need to do considerable data cleaning in order to extract accurate estimates, and may want to look into data encoding methods if you get stuck. For a real bonus round, identify the open access prices paid by subject area.

### As noted in the previous assignment, don't modify the data directly. Instead, write a cleaning script that will load the raw data and whip it into shape. Jupyter notebooks are a great format for this. Keep a record of your decisions: well-commented code is a must for recording your data cleaning decision-making progress. Submit a link to your script and results below and discuss it with your mentor at your next session.

In [1]:
import numpy as np 
import pandas as pd

In [2]:
# Read the dataset
df = pd.read_csv('WELLCOME_APCspend2013_forThinkful.csv',encoding='ISO-8859-1')
df.head(1)

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00

In [3]:
df.shape

(2127, 5)

In [4]:
df.isnull().sum()

PMID/PMCID                                             199
Publisher                                                0
Journal title                                            1
Article title                                            0
COST (£) charged to Wellcome (inc VAT when charged)      0
dtype: int64

In [5]:
df=df[['Journal title','Article title','COST (£) charged to Wellcome (inc VAT when charged)']]

In [6]:
# Rename the name of the selected columns 
df.rename(columns={
    'Journal title':'journal', 'Article title':'article',
    'COST (£) charged to Wellcome (inc VAT when charged)':'cost'
},inplace=True)

In [7]:
df.isnull().sum()

journal    1
article    0
cost       0
dtype: int64

In [8]:
df.dropna(subset=['journal'],inplace=True)

In [9]:
df['journal'].value_counts(sort=True).head(5)

PLoS One                                           92
PLoS ONE                                           62
Journal of Biological Chemistry                    48
Nucleic Acids Research                             21
Proceedings of the National Academy of Sciences    19
Name: journal, dtype: int64

In [10]:
df.dtypes

journal    object
article    object
cost       object
dtype: object

In [11]:
df['cost']=df['cost'].str.replace('£','')

In [12]:
df.head()

,journal,article,cost
0,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,0.00
1,Biomacromolecules,Structural characterization of a Model Gram-ne...,2381.04
2,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",642.56
3,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,669.64
4,J Org Chem,Regioselective opening of myo-inositol orthoes...,685.88

In [13]:
list_dollar=df.index[df['cost'].str.contains("\$")==True].tolist()

In [14]:
df['cost']=df['cost'].str.replace('\$','')

In [15]:
df.loc[178,['cost']]

cost    1674
Name: 178, dtype: object

In [16]:
df['cost']=pd.to_numeric(df['cost'])

In [17]:
df['cost']=df['cost'].astype(float)

In [18]:
df.loc[list_dollar,'cost']

178     1674.00
179     1375.80
180     2010.00
181     1204.38
182     1254.60
183     1476.00
337      671.04
1599    1440.00
1600    1460.30
1601    1476.47
1602    1570.87
1603    1600.25
1604    1600.25
Name: cost, dtype: float64

In [19]:
df.loc[list_dollar,'cost']=df.loc[list_dollar,'cost'].apply(lambda x: x*0.85)

In [20]:
df.dtypes

journal     object
article     object
cost       float64
dtype: object

In [21]:
df.loc[list_dollar,'cost']

178     1422.9000
179     1169.4300
180     1708.5000
181     1023.7230
182     1066.4100
183     1254.6000
337      570.3840
1599    1224.0000
1600    1241.2550
1601    1254.9995
1602    1335.2395
1603    1360.2125
1604    1360.2125
Name: cost, dtype: float64

In [22]:
np.mean(df['cost'])

24071.124189087488

In [23]:
np.median(df['cost'])

1882.97

In [24]:
np.std(df['cost'])

146860.6813170135